.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    padding: 0 0 8px;
    box-shadow: 1px 1px 22px 7px rgba(0,0,0,0.06);
}
.containerItem {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 310px;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    flex-direction: column;
}
.inputContainer {
    padding:10px;
    margin: 2px 0;
}
.inputItem{
    border: 0;
    border-bottom: 1px solid #888;
    font-size: 21px;
    width: 103px;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    outline: none;
    position: relative;
    color: #414241;
}
.inputItem:focus:after{
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1BABBF;
    transition: all 0.2s ease;
}
.inputILabel{
    letter-spacing: 2px;
    line-height: 50px;
    text-indent: 10px;
    text-transform: uppercase;
    width: 141px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
}
.inputTitle{
    width: 90px;
    display: inline-block;
    margin-right: 5px;
}

.actionContainer{
    display: flex;
    justify-content: center;
    margin: 0 -20px 9px;
}
.btn {
    padding: 12px;
    outline: none;
    margin: 0 4px;
    color: #fff;
    cursor: pointer;
    max-width: 200px;
    border: none;
    font-size: 18px;
    background-color: #1BABBF;
    width: 100%;
}
.btn:hover {
    background-color: #18a2b4;
}
.reset {
    max-width: 110px;
    background-color: rgba(36,36,36,.8);
}
.reset:hover {
    background-color: rgba(27, 27, 27, 0.8);
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 15px;
}
.totalValue {
    font-size: 25px;
    text-align: center;
}
.heplItem {
    position: absolute;
    left: 12px;
    top:12px;
    cursor: pointer;
}
.iconSave {
    position: absolute;
    right: -35px;
    bottom: 50px;
    width: 40px;
    height: 30px;
    background-color: rgba(36,36,36,.5);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999999;
}
.iconSave:hover {
    width: 45px;
    transition-duration: .2s;
}