.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.containerItem {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 310px;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    flex-direction: column;
}
.inputContainer {
    padding:10px;
    margin: 2px 0;
}
.inputItem{
    background-color: inherit;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #1E1E1E;
    outline: none;
    max-width: 150px;   
}
.inputTitle{
    width: 90px;
    display: inline-block;
    margin-right: 5px;
}
.containerValue{
    position: absolute;
    top: 40px;
    left: 0;
    text-align: center;
    right: 0;
    font-size: 30px;
}
.containerActions{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.btn {
    padding:5px 15px;
    border: 1px solid #000;
    margin: 0 15px;
    cursor: pointer;
}