.container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 490px;
    background-color: rgba(36,36,36,.8);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 30px;
    flex-direction: column;
}

.containerrigtht{
    background-color: #fff;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 70px 15px 30px;
}
