.container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 490px;
    background-color: rgba(36,36,36,.8);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 30px;
    flex-direction: column;
}

.containerrigtht{
    background-color: #EFEFEF;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 40px 35px;
}

.iconSetting,
.iconSave {
    position: absolute;
    right: 0;
    top: 50px;
    width: 40px;
    height: 30px;
    background-color: rgba(36,36,36,.5);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999999;
}
.iconSetting:hover,
.iconSave:hover {
    width: 45px;
    transition-duration: .2s;
}
.iconSave {
    bottom: 50px;
    top: auto;
}
