.container{
    display: flex;
    position: absolute;
    right: 0px;
    top:0px;
    padding: 5px;
    z-index: 99999999999;
}
.item{
    cursor: pointer;
    margin-left: 2px;
    z-index: 999999999999;
 }