.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.containerItem {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 8px;
}
.titleItem{
    user-select:none;
    color:#fff;
    font-size: 16px;
    margin-left: 15px;
}
.containerItem:hover{
    cursor: pointer;
    background-color: #414241;
    transition-property: background-color;
    transition-duration: .1s;
}
.containerItem:first-child{
    background-color: #1BACBF;
}
.containerItem:last-child{
    margin-top: 270px;
}
