.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemContainer {
    background-color: #1BABBF;
    width: 200px;
    height: 90px;
    position: relative;
    padding:5px;
    box-shadow: 12px 12px 21px -3px rgba(0,0,0,0.49);
}
.beforeConitainer {
    margin-top: -10px;
    margin-left: -10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    box-shadow: 12px 12px 21px -3px rgb(0 0 0 / 49%);
}
.itemValue{
    position: absolute;
    right: 12px;
    top: 16px;
    width: 90px;
    font-size: 22px;
}
.titleValue{
    margin-top: 15px;
    font-size: 16px;
    border-top: 1px solid;
    padding-top: 5px;
}