.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.containerTitle{
    font-size:26px;
    margin-top: -8px;
}
.itemContainer {
    background-color: #1BABBF;
    width: 200px;
    height: 90px;
    position: relative;
    padding:5px;
    box-shadow: 12px 12px 21px -3px rgba(0,0,0,0.49);
}
.beforeConitainer {
    margin-top: -10px;
    margin-left: -10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    box-shadow: 12px 12px 21px -3px rgb(0 0 0 / 49%);
}
.items{
    max-height: 185px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 4px;
}
.items::-webkit-scrollbar {
    width: 5px;      
}
.items::-webkit-scrollbar-thumb {
    background-color: #DEDEDE;
    border-radius: 6px;
  }
.itemValue{
    position: absolute;
    right: 12px;
    top: 16px;
    width: 90px;
    font-size: 22px;
}
.titleValue{
    margin-top: 15px;
    font-size: 16px;
    border-top: 1px solid;
    padding-top: 5px;
}
.item:nth-child(2n + 1) {
    background-color: rgba(153, 153, 153, .1);
}
.item{
    display: flex;
    justify-content: space-between;
    width: 330px;
    border-top: 0;
}
.item span{
    text-align: center;
    display: block;
    width: 40%;
    padding: 9px 10px;
}
.containerTotal{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}
.totalItem{
    text-align: center;
}
.totalValue{
    font-size: 18px;
    margin-top: 3px;
}